:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    
}
 @font-face {
    font-family: "Noto Sans Korean";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/NotoSans-Thin.eot?") format("eot"),
    url("../fonts/NotoSans-Thin.otf") format("opentype"),
    url("../fonts/NotoSans-Thin.woff") format("woff"),
    url("../fonts/NotoSans-Thin.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans Korean";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/NotoSans-Light.eot?") format("eot"),
    url("../fonts/NotoSans-Light.otf") format("opentype"),
    url("../fonts/NotoSans-Light.woff") format("woff"),
    url("../fonts/NotoSans-Light.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans Korean";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/NotoSans-DemiLight.eot?") format("eot"),
    url("../fonts/NotoSans-DemiLight.otf") format("opentype"),
    url("../fonts/NotoSans-DemiLight.woff") format("woff"),
    url("../fonts/NotoSans-DemiLight.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans Korean";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/NotoSans-Regular.eot?") format("eot"),
    url("../fonts/NotoSans-Regular.otf") format("opentype"),
    url("../fonts/NotoSans-Regular.woff") format("woff"),
    url("../fonts/NotoSans-Regular.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans Korean";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/NotoSans-Medium.eot?") format("eot"),
    url("../fonts/NotoSans-Medium.otf") format("opentype"),
    url("../fonts/NotoSans-Medium.woff") format("woff"),
    url("../fonts/NotoSans-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: "Noto Sans Korean";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/NotoSans-Black.eot?") format("eot"),
    url("../fonts/NotoSans-Black.otf") format("opentype"),
    url("../fonts/NotoSans-Black.woff") format("woff"),
    url("../fonts/NotoSans-Black.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Noto Sans Korean";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/NotoSans-Bold.eot?") format("eot"),
    url("../fonts/NotoSans-Bold.otf") format("opentype"),
    url("../fonts/NotoSans-Bold.woff") format("woff"),
    url("../fonts/NotoSans-Bold.woff2") format("woff2");
  }

input, textarea, button {
    appearance: none;
    -moz-appearance: none ;
    -webkit-appearance: none ;
    border-radius: 0 ;
    -moz-border-radius: 0 ;
}

Button, html [type="button"] {
  -webkit-appearance: none ;
}

/* Bold 스타일 */
.bold_14px {
    font-family: "Noto Sans Korean";
    font-weight: 900; /* Bold */
    font-size: 14px;
}

.bold_16px {
    font-family: "Noto Sans Korean";
    font-weight: 900; /* Bold */
    font-size: 16px;
}

.bold_20px {
    font-family: "Noto Sans Korean";
    font-weight: 900; /* Bold */
    font-size: 20px;
}

.bold_32px {
    font-family: "Noto Sans Korean";
    font-weight: 900; /* Bold */
    font-size: 32px;
}

.bold_36px {
    font-family: "Noto Sans Korean";
    font-weight: 900; /* Bold */
    font-size: 36px;
}

/* Medium 스타일 */
.medium_14px{
    font-family: "Noto Sans Korean";
    font-weight: 500; /* Medium */
    font-size: 14px;
}

.medium_16px {
    font-family: "Noto Sans Korean";
    font-weight: 500; /* Medium */
    font-size: 16px;
}

/* DemiLight 스타일 */
.demiLight_14px {
    font-family: "Noto Sans Korean";
    font-weight: 300; /* DemiLight */
    font-size: 14px;
}

/* DemiLight 스타일 */
.demiLight_16px {
    font-family: "Noto Sans Korean";
    font-weight: 300; /* DemiLight */
    font-size: 16px;
}  

/* Regular 스타일 */
.regular_14px {
    font-family: "Noto Sans Korean";
    font-weight: 400; /* Regular */
    font-size: 14px;
}

.regular_16px {
    font-family: "Noto Sans Korean";
    font-weight: 400; /* Regular */
    font-size: 16px;
}

.regular_12px {
    font-family: "Noto Sans Korean";
    font-weight: 400; /* Regular */
    font-size: 12px;
}

.icon_12px {
    width: 12px;
    height: 12px;
}
.icon_16px {
    width: 16px;
    height: 16px;
}
.icon_20px {
    width: 20px;
    height: 20px;
}
.icon_24px {
    width: 24px;
    height: 24px;
}
.icon_32px {
    width: 32px;
    height: 32px;
}
.icon_84px {
    width: 84px;
    height: 84px;
}
.topLogo{
    width: 96px;
    height: 34px;
}

.loginPop  .topLogo{
    width: 138px;
    height: 50px;
}
    
  

/* 전체 요소에 적용될 스타일 */
* {
    margin: 0px;
	padding: 0px;
    font-family: "Noto Sans Korean", sans-serif; 
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	text-align: center;
    -ms-content-zooming: none;
    -ms-touch-action: pan-x pan-y;
    user-select: none;
}

html, body {
    width: 100vw;
    height: 100vh;
	-ms-user-select: none;
	-moz-user-select: none;
	-moz-none: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
    background-color: var(--Color-Blue-100);

    /* overflow-x: hidden;
    overflow-y: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}


    
/* 기본 색상 변수 정의 */
:root {
    --Color-White: #FFFFFF;
    --Color-Black: #000000;
    
    --Color-Main-Black: #141519;
    --Color-Main-Purple: #AE8CE8;
    --Color-Main-Blue: #287EFC; 

    --Color-Gray-100: #F8F9FC;
    --Color-Gray-200: #DADADA;
    --Color-Gray-300: #D9D9D9;
    --Color-Gray-400: #DBDBDB;
    --Color-Gray-500: #999999;
    --Color-Gray-600: #555555;
    --Color-Gray-700: #30374D;
    --Color-Gray-800: #0E0E0E;
    --Color-Gray-900: #BCC2C9;

    --Color-Blue-100: #EFF5F8;


    /* 버튼 색상 */
    --Button-White: #FFFFFF;
    --Button-White-Line: #B2B5BF;
    --Button-Black-Background: #30374D;
    --Button-Gray-Background: #D9D9D9;
}

/* 색상 클래스 정의 */

.white {
    color: var(--Color-Main-Black);
}
.black {
    color: var(--Color-Main-Black);
}
/* 주 색상 */
.mainBlack {
    color: var(--Color-Main-Black);
}

.mainPurple {
    color: var(--Color-Main-Purple);
}

.mainBlue {
    color: var(--Color-Main-Blue);
}

/* 회색 계열 */
.gray100 {
    color: var(--Color-Gray-100);
}

.gray200 {
    color: var(--Color-Gray-200);
}

.gray300 {
    color: var(--Color-Gray-300);
}

.gray400 {
    color: var(--Color-Gray-400);
}

.gray500 {
    color: var(--Color-Gray-500);
}

.gray600 {
    color: var(--Color-Gray-600);
}

.gray700 {
    color: var(--Color-Gray-700);
}

.gray800 {
    color: var(--Color-Gray-800);
}

.gray900 {
    color: var(--Color-Gray-900);
}

/* 파란색 계열 */
.blue100 {
    color: var(--Color-Blue-100);
}


/* 기본 PC 크기 (1281px 이상) */
@media (min-width: 1281px) {
    .bold_14px {
        font-size: 14px;
    }
    .bold_16px {
        font-size: 16px;
    }
    .bold_20px {
        font-size: 20px;
    }
    .bold_32px {
        font-size: 32px;
    }
    .bold_36px{
        font-size: 36px;
    }
    .medium_14px {
        font-size: 16px;
    }
    .medium_16px {
        font-size: 16px;
    }
    .demiLight_14px {
        font-size: 14px;
    }
    .regular_14px {
        font-size: 14px;
    }
    .regular_16px {
        font-size: 16px;
    }
    .regular_12px {
        font-size: 12px;
    }
    
    .icon_12px {
        width: 12px;
        height: 12px;
    }
    .icon_16px{
        width: 16px;
        height: 16px;
    }
    .icon_20px {
        width: 20px;
        height: 20px;
    }
    .icon_24px {
        width: 24px;
        height: 24px;
    }
    .icon_32px {
        width: 32px;
        height: 32px;
    }
    .icon_84px {
        width: 84px;
        height: 84px;
    }
    .topLogo{
        width: 96px;
        height: 34px;
    }
    .loginPop  .topLogo{
        width: 138px;
        height: 50px;
    }

    .myInfo > .topContent {
        display: flex;
        align-items: baseline;
    }

    .myInfo .myInfoList th {
        width: 200px;
    }

    .myInfo .myInfoUpdate th {
        width: 200px;
    }

    .watchVideo > .topContent {
        display: flex;
        align-items: baseline;
    }
    
}

/* 태블릿 크기 (768px 이상 1280px 이하) */
@media (min-width: 768px) and (max-width: 1280px) {
    .bold_14px {
        font-size: 13px;
    }
    .bold_16px {
        font-size: 15px;
    }
    .bold_20px {
        font-size: 19px;
    }
    .bold_32px {
        font-size: 31px;
    }
    .bold_36px{
        font-size: 35px;
    }
    .medium_14px {
        font-size: 13px;
    }
    .medium_16px {
        font-size: 15px;
    }
    .demiLight_14px {
        font-size: 13px;
    }
    .regular_14px {
        font-size: 13px;
    }
    .regular_16px {
        font-size: 15px;
    }
    .regular_12px {
        font-size: 11px;
    }
    .icon_12px {
        width: 10px;
        height: 10px;
    }
    .icon_16px{
        width: 14px;
        height: 14px;
    }
    .icon_20px {
        width: 18px;
        height: 18px;
    }
    .icon_24px {
        width: 22px;
        height: 22px;
    }
    .icon_32px {
        width: 30px;
        height: 30px;
    }
    .icon_84px {
        width: 82px;
        height: 82px;
    }
    .topLogo{
        width: 96px;
        height: 34px;
    }
    .loginPop  .topLogo{
        width: 138px;
        height: 50px;
    }

    .homeBox .main06 > .buttonBox {
        left: 35.3% !important;
    }

    .VideoWrap {
        overflow-x: auto; /* 가로 스크롤 활성화 */
        width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    }
    
    .myVideoList {
        width: 100%; /* 테이블 너비 설정 */
        min-width: 1000px; /* 최소 너비 설정 */
        border-collapse: collapse; /* 테두리가 겹치지 않게 */
    }

    .videoList {
        width: 100%; /* 테이블 너비 설정 */
        min-width: 1000px; /* 최소 너비 설정 */
        border-collapse: collapse; /* 테두리가 겹치지 않게 */
    }

    .myInfoWrap {
        overflow-x: auto; /* 가로 스크롤 활성화 */
        width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    }
    
    .myInfoList {
        width: 100%; /* 테이블 너비 설정 */
        min-width: 1000px; /* 최소 너비 설정 */
        border-collapse: collapse; /* 테두리가 겹치지 않게 */
    }

    .myInfoUpdate {
        width: 100%; /* 테이블 너비 설정 */
        min-width: 1000px; /* 최소 너비 설정 */
        border-collapse: collapse; /* 테두리가 겹치지 않게 */
    }

    .myInfo > .topContent {
        display: flex;
        align-items: baseline;
    }

    .myInfo .myInfoList th {
        width: 150px;
    }

    .myInfo .myInfoUpdate th {
        width: 150px;
    }

    .watchVideo > .topContent {
        display: flex;
        align-items: baseline;
    }

}


/* 일반 핸드폰 크기 (767px 이하) */
@media (max-width: 767px) {
    .bold_14px {
        font-size: 10px;
    }
    .bold_16px {
        font-size: 12px;
    }
    .bold_20px {
        font-size: 16px;
    }
    .bold_32px{
        font-size: 20px;
    }
    .bold_36px{
        font-size: 32px;
    }
    .medium_14px {
        font-size: 8px;
    }
    .medium_16px {
        font-size: 12px;
    }
    .demiLight_14px {
        font-size: 10px;
    }
    .regular_14px {
        font-size: 10px;
    }
    .regular_16px {
        font-size: 12px;
    }
    .regular_12px {
        font-size: 8px;
    }
    .icon_12px {
        width: 8px;
        height: 8px;
    }
    .icon_16px{
        width: 12px;
        height: 12px;
    }
    .icon_20px {
        width: 16px;
        height: 16px;
    }
    .icon_24px {
        width: 20px;
        height: 20px;
    }
    .icon_32px {
        width: 28px;
        height: 28px;
    }
    .icon_84px {
        width: 80px;
        height: 80px;
    }
    .topLogo{
        width: 85px;
        height: 23px;
    }
    .loginPop  .topLogo{
        width: 127px;
        height: 49px;
    }

    .hamburger-menu {
        display: block !important; /* 모바일에서는 햄버거 메뉴를 보이게 함 */
    }

    .leftMenuBox {
        position: fixed;
        top: 0;
        left: -100%; /* 기본적으로 화면 밖에 숨김 */
        width: 80%; /* 오른쪽 10%는 투명도 영역 */
        height: 100%;
        background-color: #fff;
        z-index: 1000; /* 다른 요소 위에 표시 */
        transition: left 0.3s ease;
        box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* 그림자 효과 */
    }
    
    .leftMenuBox.show {
        left: 0; /* 메뉴가 나타나게 함 */
    }
    
    /* 오른쪽 투명도 영역 */
    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 반투명 효과 */
        z-index: 999; /* 왼쪽 메뉴보다 아래에 표시 */
        display: none; /* 기본적으로 숨김 */
    }
    
    .overlay.show {
        display: block;
    }
    
    .homeBox {
        padding:  0  !important;
    }

    .homeBox > .title{
        margin: 10px 20px !important;
    }


    .homeBox .main01 > img{
        content: url(../img/mainMoblie01.png);
    }
    .homeBox .main02 > img{
        content: url(../img/mainMoblie02.png);
    }
    .homeBox .main03 > img{
        content: url(../img/mainMoblie03.png);
    }
    .homeBox .main04 > img{
        content: url(../img/mainMoblie04.png);
    }
    .homeBox .main05 > img{
        content: url(../img/mainMoblie05.png);
    }
    .homeBox .main06 > img{
        content: url(../img/mainMoblie06.png);
    }
    .homeBox .button-White {
        width: auto;
        min-width: 88px !important;
        padding: 6px 8px  !important;
    }

    .homeBox .button-Blue{
        width: auto;
        min-width: 88px  !important;
        padding: 6px 8px !important;
    }

    .homeBox .main06 > .buttonBox {
        left: 23.3% !important;
    }

    .homeBox .icon_20px {
        width: 12px;
        height: 12px;
    }

    body::-webkit-scrollbar {
        display: inline;
    }

    .VideoWrap {
        overflow-x: auto; /* 가로 스크롤 활성화 */
        width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    }
    
    .myVideoList {
        width: 100%; /* 테이블 너비 설정 */
        min-width: 1000px; /* 최소 너비 설정 */
        border-collapse: collapse; /* 테두리가 겹치지 않게 */
    }

    .videoList {
        width: 100%; /* 테이블 너비 설정 */
        min-width: 1000px; /* 최소 너비 설정 */
        border-collapse: collapse; /* 테두리가 겹치지 않게 */
    }

    .myInfoWrap {
        overflow-x: auto; /* 가로 스크롤 활성화 */
        width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    }
    
    .myInfoList {
        width: 100%; /* 테이블 너비 설정 */
        min-width: 1000px; /* 최소 너비 설정 */
        border-collapse: collapse; /* 테두리가 겹치지 않게 */
    }

    .myInfoUpdate {
        width: 100%; /* 테이블 너비 설정 */
        min-width: 1000px; /* 최소 너비 설정 */
        border-collapse: collapse; /* 테두리가 겹치지 않게 */
    }

    .myInfo > .topContent {
        display: flex;
        align-items: center;
    }

    .myInfo .myInfoList th {
        width: 100px;
    }

    .myInfo .myInfoUpdate th {
        width: 100px;
    }

    .watchVideo > .topContent {
        display: flex;
        align-items: center;
    }
  
}

/*공통*/
.svg_default {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
}

/* 스크롤바*/
.div-scroll-y {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh; /* 화면 전체 높이를 차지 */
}
  

/*header*/
.topLogo {
    background-image: url("../icon/topLogo.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
}

header{
    background-color: var(--Color-White);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.headerBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
    border-bottom: 1px solid var(--Color-Gray-300) ;
}

/* 햄버거 메뉴 */
.hamburger-menu {
    display: none; /* 기본적으로 PC 버전에서는 숨김 */
    cursor: pointer;
    margin-right: 12px; /* 여백 조정 */
}

/*left menu*/

.leftMenuBox {
    background-color: var(--Color-Blue-100);
    min-width: 200px;
    height: 100vh;
    padding: 32px  0px 0px 12px;
    box-sizing: border-box;
}

.leftMenuBox ul {
    list-style-type: none;
}

.leftMenuBox ul li {
    margin: 15px 0;
    padding: 10px;
    cursor: pointer;
}

.leftMenuBox ul li a {
    color: var(--Color-Gray-800);
    text-decoration: none;
    display: block;
    text-align: left;
}

/* 클릭된 메뉴 스타일 */
.leftMenuBox ul li.active {
    background-color: var(--Color-White);
    border-left: 3px solid  var(--Color-Main-Blue);;
}

.leftMenuBox ul li.active a {
    color: var(--Color-Main-Blue);
}


input.button-White {
    padding: 6px 16px;
    background-color: var(--Button-White);
    border: 1px solid var(--Button-White-Line);
    color: var(--Color-Black); /* 글씨 색상 */
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box; /* 패딩 포함된 박스 크기 */
}

input.button-White:active {
    background-color: var(--Color-Gray-100)
}

input.button-White:hover {
    background-color: var(--Color-Gray-200); /* hover 시 배경 색상 변경 */
}

.button-Black {
    background-color: var(--Button-Black-Background);
    color: var(--Color-White);
    padding: 6px 16px;
    border: 1px solid var(--Button-Black-Background);
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.button-Black:active {
    opacity: 0.9;
}


.button-Blue{
    width: -webkit-fill-available;
    padding: 12px;
    border-radius: 8px;
    border: 0px;
    color: var(--Color-White);
    background-color: var(--Color-Main-Blue);
}

.button-Blue:active {
     opacity: 0.9;
}


.button-Gray {
    background-color: var(--Button-Gray-Background);
    color: var(--Color-White);
    padding: 6px 16px;
    border: 1px solid var(--Button-Gray-Background);
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.button-Gray:active {
    opacity: 0.9;
}
.Gray-clicked{
    background-color: var(--Button-Black-Background);
}





/* 기본 상태 (체크되지 않았을 때) */
input[type="checkbox"] {
    cursor: pointer;
    border-radius: 4px;
    min-width: 16px ;
}

/* 체크박스가 선택되었을 때 */
input[type="checkbox"]:checked {
    background-color: var(--Color-Main-Blue);
    background-image: url('../icon/checkBoxIcon.svg'); /* 체크 아이콘 이미지 경로 */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* 체크박스가 체크되지 않았을 때 */
input[type="checkbox"]:not(:checked) {
    background-color: var(--Button-White); /* 기본 배경 색상 */
    border: 1px solid var(--Color-Gray-400); /* 기본 테두리 색상 */
}

/* 체크박스가 체크되지 않았을 때 */
input[type="checkbox"]:not(:checked) {
    background-color: var(--Button-White); /* 기본 배경 색상 */
    border: 1px solid var(--Color-Gray-400); /* 기본 테두리 색상 */
}

.xIcon{
    background-image: url("../icon/xIcon.svg");
 }
 
.pop .xIcon {
    margin-left: auto;
}

.checkIcon{
    background-image: url("../icon/checkIcon.svg");
    margin-top: 4px;
}

.arrowRightwhiteIcon{
    background-image: url("../icon/arrowRightwhiteIcon.svg");
}
 
.arrowRightBlackIcon{
    background-image: url("../icon/arrowRightBlackIcon.svg");
}

/*main*/
main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 40px;
}
main >section{
    width: -webkit-fill-available;
    height: 100vh;
    background-color: var(--Color-White);

}

/*home*/
.homeBox{
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    /*unicode-bidi: isolate;*/
    text-align: left;
    padding: 0 0 0 40px;
}
.homeBox > .title{
    margin: 20px 0 ;
    display: flex;
    text-align: left;
}

.homeBox article {
    background-color: var(--Color-Main-Black);
}

.homeBox article > div {
    position: relative; /* 부모 요소를 상대적으로 설정 */
    width: 100%; /* 부모 요소의 너비에 맞게 조정 */
    overflow: hidden; /* 이미지가 부모 요소를 넘어가지 않도록 설정 */
}

.homeBox article > div img {
    width: 100%; /* 부모 요소의 너비에 맞게 조정 */
    height: auto; /* 비율 유지 */
    object-fit: cover; /* 이미지가 부모 요소를 꽉 채우도록 설정 */
}

.homeBox .main03 > .buttonBox {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: center;
}

.homeBox .main06 > .buttonBox {
    position: absolute;
    top: 69%;
    left: 31.3%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
}


.homeBox .button-White {
    width: auto;
    min-width: 148px;
    padding: 10px 8px;
    border-radius: 8px;
    border: 0px;
    background-color: var(--Button-White);
    color: var(--Color-Black);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeBox .button-White:active {
    background-color: var(--Color-Gray-200)
}

.homeBox .button-Blue{
    width: auto;
    min-width: 148px;
    padding: 10px 12px;
    border-radius: 8px;
    border: 0px;
    color: var(--Color-White);
    background-color: var(--Color-Main-Blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeBox .button-Blue:active {
    opacity: 0.9;

}


/* videos */
.watchVideo {
    padding: 40px;
    /*height: 100vh;*/
}

.watchVideo * {
    text-align: left;
}

.watchVideo .topContent .top-title {
    display : flex;
    margin: 0;
    white-space: nowrap;
    margin-right: 19px; 

}
.watchVideo .topContent .top-subtitle {
    display : flex;
    color: var(--Color-Gray-800);
    margin: 0;
}

.watchVideo .midContent {
    margin-top: 32px;
    padding: 10px 20px;
    background-color: var(--Color-Gray-100);
    border-top: 1px solid var(--Color-Gray-700);
    border-bottom: 1px solid var(--Color-Gray-300);
}
.watchVideo .midContent .mid-title {
    margin-bottom: 13px;
}

.watchVideo .midContent .mid-list {
    list-style-type: none;
    padding: 0;
}

.watchVideo .midContent .mid-list li {
    color: var(--Color-Gray-600);
}

.watchVideo .midContent .mid-list li span{
    color: var(--Color-Black);
}

.mid-list li::before {
    content: url("../icon/checkIcon.svg");
    font-weight: bold;
    color: var(--Color-Black);
    background-color: var(--Color-Gray-100);
    font-size: 16px;
    vertical-align: middle;
}

.watchVideo .midContent ul li a {
    color: var(--Color-Main-Blue);
    text-decoration: none;
}

/* videoList 테이블 스타일 */
.watchVideo .videoList {
    width: 100%;
    border-collapse: collapse;
    margin-top: 35px;
}

.watchVideo .videoList th, .videoList td {
    border: 1px solid var(--Color-Gray-300);
    border-right: none; /* 세로선 제거 */
    border-left: none;  /* 세로선 제거 */
    border-top: 1px solid var(--Color-Gray-700);
    padding: 12px;
    text-align: center;
    min-width: 30px;
}

.watchVideo .videoList th {
    background-color: var(--Color-Gray-100);
}

.watchVideo .videoList td {
    vertical-align: top;
    height: auto; /* 이미지 사이즈에 맞춰서 높이 자동 조절 */
    color: var(--Color-Gray-600);
}

.watchVideo .videoList td:nth-child(2) {
    text-align: left;
}

.watchVideo .videoList td img {
    flex: 1 1 auto; /* 가로 크기를 자동으로 조절 */
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 너비로 제한 */
    height: auto; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지의 비율을 유지하면서 부모 요소에 맞게 크기 조절 */
}

.watchVideo .button-Black {
    background-color: var(--Button-Black-Background);
    color: var(--Color-White);
    padding: 6px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.watchVideo .button-Black:active {
    opacity: 0.9;
}

.watchVideo .points-text {
    color: var(--Color-Gray-600);
    clear: both; /* 텍스트를 버튼 아래로 배치 */
    margin-top: 5px; /* 텍스트와 버튼 사이 간격 */
}

/* 버튼 및 텍스트 정렬 */
.watchVideo .videoList .points-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.watchVideo .button-White {
    text-align: center;
    margin-top: 20px;
}

.watchVideo .button-White input[type="button"] {
    padding: 10px 20px;
    background-color: var(--Button-White);
    border: 1px solid var(--Button-White-Line);
    color: var(--Color-Black); /* 글씨 색상 */
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box; /* 패딩 포함된 박스 크기 */
}

.watchVideo .button-White input[type="button"]:hover {
    background-color: var(--Color-Gray-200); /* hover 시 배경 색상 변경 */
}

/* MyVideos 제목 스타일*/
.watchVideo .topContent .MyVid {
    display : flex;
    margin: 0;
    white-space: nowrap;
}

.watchVideo .topContent .MyVid {
    margin-right: 10px; 
}

/* MyVideos 버튼 wrap*/
.watchVideo .button-wrap {
    text-align: right;
    margin-top: 58px;
}

.watchVideo .button-wrap .button-Black {
    display: inline-block;
    padding: 0;
}

.watchVideo .button-wrap .button-Black input {
    padding: 8px 16px;
    background-color: var(--Button-Black-Background);
    color: var(--Color-White);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.watchVideo .button-wrap .button-White {
    display: inline-block;
    margin-top: 0;
}

.watchVideo .button-wrap .button-White input {
    padding: 8px 16px;
}

/* MyVideos 테이블 스타일*/
.watchVideo .myVideoList {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
}

.watchVideo .myVideoList th, .myVideoList td {
    border: 1px solid var(--Color-Gray-300);
    border-right: none; /* 세로선 제거 */
    border-left: none;  /* 세로선 제거 */
    border-top: 1px solid var(--Color-Gray-700);
    padding: 12px;
    text-align: center;
    min-width: 30px;
}

.watchVideo .myVideoList th {
    background-color: var(--Color-Gray-100);
}

.watchVideo .myVideoList td {
    vertical-align: top;
    height: auto; /* 이미지 사이즈에 맞춰서 높이 자동 조절 */
    color: var(--Color-Gray-600);
}

.watchVideo .myVideoList td:nth-child(3) {
    text-align: left;
}

.watchVideo .myVideoList td img {
    flex: 1 1 auto; /* 가로 크기를 자동으로 조절 */
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 너비로 제한 */
    height: auto; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지의 비율을 유지하면서 부모 요소에 맞게 크기 조절 */
}

/* MyVideos 노출제어 스위치 */
.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
}

.switch input {
    display: none; /* 체크박스 숨기기 */
}

.switch-label {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--Color-Blue-100);
    border: 1px solid var(--Color-Gray-900);

    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch-label .switch-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: var(--Color-Gray-700);
    border-radius: 50%;
    transition: all 0.3s;
}

.switch-on, .switch-off {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: var(--Color-Gray-600);
    width: 30px;
    text-align: center;
}

.switch-on {
    left: 5px;
}

.switch-off {
    right: 5px;
}

input:checked + .switch-label .switch-slider {
    transform: translateX(30px);
}

input:not(:checked) + .switch-label .switch-slider {
    background-color: var(--Color-Gray-900);
}

input:checked + .switch-label .switch-on {
    display: block; /* ON일 때 표시 */
}

input:checked + .switch-label .switch-off {
    display: none; /* ON일 때 OFF 숨기기 */
}

input:not(:checked) + .switch-label .switch-off {
    display: block; /* OFF일 때 표시 */
}

input:not(:checked) + .switch-label .switch-on {
    display: none; /* OFF일 때 ON 숨기기 */
}

/* MyVideos 페이지네이션 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 24px 0;
}

.pagination li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Color-Gray-400);
    width: 42px;
    height: 40px;
    margin: 0;
    background-color: var(--Color-White);
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

.pagination > li > a{
    text-decoration: none;
    color: var(--Color-Gray-600);
}

.pagination li.arrow {
    width: 50px;
    height: 40px;
}

.pagination li:first-child {
    border-radius: 8px 0 0 8px;
    border-left: 1px solid var(--Color-Gray-400);
    width: 50px;
}

.pagination li:last-child {
    border-radius: 0 8px 8px 0;
    width: 50px;
}

.pagination li:not(:first-child):not(:last-child) {
    border-left: none;
}

.pagination .active {
    background-color: var(--Color-Main-Blue);
}

.pagination .active a {
    color: var(--Color-White);
}

.pagination li:hover {
    background-color: var(--Color-Gray-200);
}

/* 화살표 */
.pagination li.arrow::before {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.pagination li.prev::before {
    transform: rotate(-135deg);
}

.pagination li.next::before {
    transform: rotate(45deg);
}


/* MyInfo */
.myInfo {
    padding: 40px;
}

.myInfo * {
    text-align: left;
}

.myInfo > .topContent > .top-title {
    display : flex;
    margin: 0;
    white-space: nowrap;
    margin-right: 20px; 
}
.myInfo > .topContent > .top-subtitle {
    display : flex;
    color: var(--Color-Gray-800);
    margin: 0;
}

.myInfo > .mid-title {
    margin-top: 32px;
    padding: 10px 0px;
}

/* myInfoList 테이블 스타일 */
.myInfo .myInfoList {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border-top: 1px solid var(--Color-Gray-700);
    
}

.myInfo .myInfoList th {
    text-align: left;
    background-color: var(--Color-Gray-100);
    border-bottom: 1px solid var(--Color-Gray-300);
    padding: 12px;
}

.myInfo .myInfoList td {
    padding: 12px;
    border-bottom: 1px solid var(--Color-Gray-300);
}

.myInfo .myInfoList tr {
    height: 66px;
}

.myInfo .myInfoList tr:nth-child(10) td {
    display: flex;
    align-items: center;
}


.myInfo .myInfoList tr td div {
    display: inline-block;
    align-items: center;
    height: 100%;
}

.myInfo .myInfoList .button-Black {
    background-color: var(--Button-Black-Background);
    color: var(--Color-White);
    padding: 6px 16px;
    margin-left: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.myInfo .myInfoList .button-Black:active {
    opacity: 0.9;
}

.myInfo .button-Blue {
    display: flex;
    text-align: center;
    margin: 25px auto 0;
    padding: 12px 24px;
    background-color: var(--Color-Main-Blue);
    color: var(--Color-White);
    border: none;
    border-radius: 8px;
    width: auto;
    cursor: pointer;
}

.myInfo .button-Blue:active {
    opacity: 0.9;
}

/* MyInfoUpdate */
.myInfo {
    padding: 40px;
}

.myInfo * {
    text-align: left;
}

.myInfo > .topContent > .top-title {
    display : flex;
    margin: 0;
}
.myInfo > .topContent > .top-subtitle {
    display : flex;
    color: var(--Color-Gray-800);
    margin: 0;
}

.myInfo > .topContent > .top-title {
    margin-right: 20px; 
}

.myInfo > .mid-title {
    margin-top: 32px;
    padding: 10px 0px;
}

/* MyInfoUpdate 테이블 스타일 */
.myInfo .myInfoUpdate {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    border-top: 1px solid var(--Color-Gray-700);
    
}

.myInfo .myInfoUpdate th {
    text-align: left;
    background-color: var(--Color-Gray-100);
    border-bottom: 1px solid var(--Color-Gray-300);
    padding: 12px;
}

.myInfo .myInfoUpdate td {
    padding: 12px;
    border-bottom: 1px solid var(--Color-Gray-300);
}

.myInfo .myInfoUpdate input[type="text"],
.myInfo .myInfoUpdate input[type="password"],
.myInfo .myInfoUpdate input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--Color-Gray-400);
    border-radius: 8px;
    box-sizing: border-box;
}

.myInfo .myInfoUpdate tr:nth-child(10) td {
    display: flex;
    align-items: center;
}

.myInfo .myInfoUpdate input[type="checkbox"] {
    margin-right: 10px;
}

.myInfo .myInfoUpdate tr:nth-child(1) td {
    display: flex;
    align-items: center;
}

.myInfo .myInfoUpdate .button-Black {
    background-color: var(--Button-Black-Background);
    color: var(--Color-White);
    padding: 6px 16px;
    margin-left: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.myInfo .myInfoUpdate .button-Black:active {
    opacity: 0.9;
}

.myInfo .button-Blue {
    display: flex;
    text-align: center;
    margin: 25px auto 0;
    padding: 12px 24px;
    background-color: var(--Color-Main-Blue);
    color: var(--Color-White);
    border: none;
    border-radius: 8px;
    width: auto;
    cursor: pointer;
}

.myInfo .button-Blue:active {
    opacity: 0.9;
}


/* JoinMemberPopup */
.pop{
    padding: 74px 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.pop > section{
    background-color: var(--Color-White);
    width: auto;
    height: auto;
    padding: 40px;
    border-radius: 24px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}
.pop input[type="text"]::placeholder,
.pop input[type="password"]::placeholder {
    text-align: left;
    color: var(--Color-Gray-500);
}

/* input 스타일 */
.pop input[type="text"],
.pop input[type="password"] {
    border: 1px solid var(--Color-Gray-400);
    width: -webkit-fill-available;
    border-radius: 8px;
    padding: 12px 8px;
    text-align: left;
}
.memberJoinPop > .popHeader{
    border-bottom: 1px solid var(--Color-Gray-700);
    padding: 4px 0;
}

.memberJoinPop > .popBody{
    padding: 24px 0 ;
    border-bottom: 1px solid var(--Color-Gray-400);
}

 /* 첫 번째 요소의 margin 제거 */
.memberJoinPop > .popBody > div:first-child {
    margin: 0;
}
.memberJoinPop > .popBody > div{
    margin: 20px 0 0 0;
}
.memberJoinPop > .popBody > div > .regular_12px{
    text-align: left;
    margin-top: 3px;
}

.memberJoinPop > .popfooter {
    margin: 34px 0 0 0;
}
.memberJoinPop > .popfooter input{
   margin: 4px 0 0 0;
}
.memberJoinPop > .popfooter div{
   margin-bottom: 12px;
}
.memberJoinPop  > .popfooter .checkDiv{
   display: flex;
   align-items: flex-start;
}

.memberJoinPop > .popfooter >.checkDiv  div {
   text-align: left;
   margin-left: 8px;
}



/* 기본 상태 (체크되지 않았을 때) */
input[type="checkbox"] {
   cursor: pointer;
   border-radius: 4px;
   min-width: 16px ;
}

/* 체크박스가 선택되었을 때 */
input[type="checkbox"]:checked {
   background-color: var(--Color-Main-Blue);
   background-image: url('../icon/checkBoxIcon.svg'); /* 체크 아이콘 이미지 경로 */
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

/* 체크박스가 체크되지 않았을 때 */
input[type="checkbox"]:not(:checked) {
   background-color: var(--Button-White); /* 기본 배경 색상 */
   border: 1px solid var(--Color-Gray-400); /* 기본 테두리 색상 */
}

/* 체크박스가 체크되지 않았을 때 */
input[type="checkbox"]:not(:checked) {
   background-color: var(--Button-White); /* 기본 배경 색상 */
   border: 1px solid var(--Color-Gray-400); /* 기본 테두리 색상 */
}


.loginPop .titleBox{
   margin: 20px 0 ;
}

.loginPop .popBody .inputBox > input{
   margin: 10px 0 ;
}

.loginPop .popBody .btnBox{
   margin: 12px 0 0 0;
}

.loginPop .popBody .aTagBox{
   margin: 16px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.loginPop .popfooter{
   margin: 32px;
   display: flex;
   justify-content: center;
}

.loginPop .popfooter .button-Black{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.loginPop .popfooter .button-Black > div{
   background-image: url('../../common/icon/messageIcon.svg'); /* 이미지 경로 */
   margin-right: 4px;
}

/* a 태그에 .mainBlue 클래스가 적용되었을 때만 밑줄 적용 */
a.mainBlue {
   text-decoration: underline;
   text-decoration-color: var(--Color-Main-Blue); /* 원하는 밑줄 색상으로 변경 */
   text-decoration-thickness: 1px;
   text-underline-offset: 2px;
}
.findPasswordPop .popHeader > div{
   margin-bottom: 14px;
}

.findPasswordPop .popBody{
   margin: 40px 0 ;
}

.findPasswordPop .popfooter{
   text-align: left;
}
.findPasswordPop .popfooter > *{
   margin-bottom: 16px;
}

.hiddenInput{
   border: 0px !important;
   padding: 0 !important;
   width: auto !important;
}

.checkPolicyPop .popHeader{
   display: flex;
   align-items: center;
   flex-direction: column;
}


.checkPolicyPop .popBody{
   margin: 12px 0 44px 0;
}

.checkPolicyPop .popBody div{
   text-align: left;
}
.checkPolicyPop .popBody{
    margin: 12px 0 44px 0;
 }

.checkPolicyPop .popBody > .title{
    margin-bottom: 40px;
}

.checkPolicyPop .popBody > .checkBox{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 18px;
}

.checkPolicyPop .popBody > .checkBox > input{
    margin: 4px 10px 0 0;
}

.checkPolicyPop .popfooter{
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}

.checkPolicyPop .popfooter >input{ 
   width: 48%;
}

.videoUpdatePop .popHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.videoUpdatePops .popBody {
    margin: 12px 0 44px 0;
}

.videoUpdatePop .popBody > .checkBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 18px 0;
}
.videoUpdatePop .popBody > .aTagkBox > .checkIcon {
    display: none;
}
.videoUpdatePop .popBody > .aTagkBox {
    margin-top: -16px; /* Adjust spacing as needed */
    text-align: left;
    display: flex;
}
.videoUpdatePop .popBody > .inputBox {
    margin: 22px 10px;
}

.videoUpdatePop .popBody div {
    text-align: left;
}

.videoUpdatePop .popfooter {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.videoUpdatePop .popfooter >input {
    width: 43%;
}
.all .popfooter{
    margin-top: 32px;
}